NEXT_PUBLIC_SUPABASE_URL=https://rjmomkabsqztssoxzzsl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqbW9ta2Fic3F6dHNzb3h6enNsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg1NjUxNzQsImV4cCI6MjA5NDE0MTE3NH0.s6d4LicAb_cUN7NXxkbbMCLwuRY2zYhTbuP9DcccP2k
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqbW9ta2Fic3F6dHNzb3h6enNsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODU2NTE3NCwiZXhwIjoyMDk0MTQxMTc0fQ.VLAFcsZUI_K9kgEOOcUY7fRmtPGkGt4Aen4WLktt99U
SUPABASE_STORAGE_BUCKET=meal-images
